databases:
  - name: cars24-db
    databaseName: cars24_projects
    plan: free
    region: oregon

services:
  - type: web
    name: cars24-product-portal
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        fromDatabase:
          name: cars24-db
          property: connectionString
